.cards-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .blur {
    filter: blur(16px);
  }

  .top {
    text-align: center;
    
    .title {  
      margin: 24px 0 16px;

      span {
        font-size: 16px;
        color: black;
        opacity: .32;

        &:last-child {
          font-family: 'Futura-Condensed';
          font-weight: bold;
          margin-left: 10px;
        }
      }
    }

    img.header {
      width: 95%;
      margin: 0 auto;
    }
  }

  .tiles {
    .cards-content {
      width: calc(100% - 20px);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 10px;

      .card-content {
        width: 20%;
        display: flex;
        flex-direction: column;
      }

      .card {
        width: 90%;
        height: 53px;
        margin: 3% auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 5px 0;
        background-color: #5B4099;
        // border: 2px solid transparent;
        position: relative;
        overflow: hidden;
        box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.1);

        &.highlighted {
          background-color: white;

          .number {
            font-size: 26px;
            line-height: 28px;
            color: #5B4099;
            opacity: .16;
          }

          .action {
            position: relative;
            bottom: 0;
            color: #5B4099;
          }
        }

        &.done {
          flex: 1;
          background-color: white;
          color: #5B4099;
          font-family: 'Futura-Bold';
          font-size: 32px;
          line-height: 32px;
          text-align: center;
        }

        &.tapped {
          background-color: white;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            background-color: #5B4099;
            border-top: 1px solid white;
          }

          .number {
            position: absolute;
            top: 0;
            left: 5px;
            line-height: unset;
            color: #E4EAEE;
            font-size: 16px;
            align-self: baseline;
            opacity: 1;
          }

          .action {
            display: none;
          }

          .playerImg {
            display: block;
          }
        }

        &.isBingo {
          position: relative;
          // border: 2px solid white;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: url('../../images/icn-ball.svg');
            background-size: 58%;
            background-position: center;
            background-color: white;
            border-radius: 5px;
            background-repeat: no-repeat;
          }
        }

        .number {
          font-family: 'Futura-Bold';
          color: white;
          font-size: 46px;
          font-weight: bold;
          line-height: 53px;
          text-align: center;
          text-shadow: 0 2px 12px 0 rgba(0,0,0,0.33);
          opacity: .24;
        }

        .action {
          width: 86%;
          position: absolute;
          bottom: 8px;
          color: white;
          font-size: 9px;
          font-weight: bold;
          line-height: 12px;
          text-align: center;
          text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
          text-transform: uppercase;
        }

        .playerImg {
          display: none;
          width: 100%;
          position: absolute;
          bottom: -4px;
          border-radius: 8px;
        }
      }
    }
  }
  
  .bingo-content {
    width: 100%;
    will-change: height;
    transition: height 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);

    &.opened {
      position: absolute;
      top: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      z-index: 999;

      .event-status {
        display: none;
      }
      .tiles {
        height: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
        .cards-content {
          transform: scale(.5);
        }
      }
      .sliding-pane {
        display: flex;
      }
      .bingo-status {
        display: none;
      }
    }

    &.closed {
      position: relative;
      height: auto;

      .tiles {
        height: auto;
        .cards-content {
          transform: scale(1);
        }
      }
      .sliding-pane {
        display: none;
      }
    }

    .event-status {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 10px 0 10px;

      .event {
        display: flex;
        align-items: center;
        color: black;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 24px;
        opacity: .32;
        border: 2px solid transparent;
        box-sizing: border-box;
        position: relative;

        &.active {
          opacity: 1;
          border: 2px solid #5B4099;
          border-radius: 16px;
          text-transform: capitalize;
          padding-right: 15px;
        }

        .number {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #5B4099;
          color: white;
          border-radius: 50%;
          margin-right: 10px;
          left: -1px;
          position: relative;
        }
      }
    }

    .sliding-pane {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      
      .feed-text {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        margin-bottom: 20px;
      }

      .match-quarter {
        flex: 1;
        display: flex;
        flex-direction: column;
        border-radius: 18px 18px 0 0;
        background-color: #FFFFFF;
        position: relative;
        overflow: hidden;

        .match-feed {
          position: relative;
          color: #000000;
          font-size: 12px;
          line-height: 18px;
          padding: 15px;

          &:after {
            content: '';
            position: absolute;
            right: 18px;
            top: 18px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #0F2253;
          }
        }

        .events {
          flex: 1;
          overflow: auto;

          .event {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #E1E1E1;
            padding: 10px 15px;

            .ball-icon {
              width: 22px;
            }

            .info {
              display: flex;
              align-items: center;

              .time {
                color: #BABABA;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.5px;
                line-height: 20px;
                margin-right: 24px;
              }

              .name {
                color: #202020;
                font-size: 12px;
                letter-spacing: 0.43px;
                line-height: 16px;
              }
  
              .event-name {
                color: #202020;
                font-size: 16px;
                letter-spacing: 0.57px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }

    .bingo-status {
      opacity: 0.5;
      color: black;
      font-family: 'Futura-Heavy';
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.5px;
      line-height: 20px;
      text-align: center;
      padding: 30px 0;
      
      &.active {
        opacity: 1;
        color: black;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.64px;
        line-height: 20px;
        text-align: center;
        padding: 25px 0;
      }
  
      .winner {
        font-family: 'Futura-Condensed';
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
      }
    }

    .tile-detail {
      display: flex;
      padding: 15px;

      .playerImg {
        height: 128px;
        width: 128px;
        display: flex;
        align-items: flex-end;
        margin-right: 12px;

        img {
          width: 100%;
        }
      }

      .info {
        flex: 1;

        .name {
          font-size: 18px;
          line-height: 25px;
  
          &:first-child {
            font-size: 15px;
          }
        }

        .desc {
          font-size: 12px;
          font-family: 'Futura-Heavy';
          font-weight: bold;
          letter-spacing: 0.43px;
          line-height: 16px;
          margin-top: 8px;
        }
      }
    }
  }

  .creating-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;

    .randomImg {
      width: 115px;
    }

    .text1 {
      font-weight: bold;
      font-size: 28px;
      line-height: 36px;
      text-align: center;
      margin: 37px 0 12px;
    }

    .text2 {
      opacity: 0.8;
      color: #000000;
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
      text-align: center;
    }
  }
  
  .footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 8px;

    .indicater {
      height: 5px;
      width: 134px;
      border-radius: 100px;
      background-color: black;
      margin: 20px auto 0;
    }
  }
}

.help-modal {
  height: 100%;

  .help-modal-content {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;

    .title {
      font-size: 18px;
      font-family: 'Futura-Bold';
      line-height: 25px;
      text-align: center;
    }

    .rules {
      list-style: decimal;
      font-family: 'Futura-Heavy';
      font-size: 16px;
      li {
        margin-bottom: 15px;
      }
    }

    .help-imgs {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .help-img {
        width: 50%;
        display: flex;
        justify-content: center;
        margin-top: 40px;

        img {
          width: 123px;
        }
      }
    }

    .footer {
      text-align: center;
      margin-bottom: 8px;
  
      .indicater {
        height: 5px;
        width: 134px;
        border-radius: 100px;
        background-color: black;
        margin: 20px auto 0;
      }
    }
  }
}

.final-modal {
  width: 100%;
  height: 100%;
  .final-modal-content {
    width: 100%;
    height: 100%;
  }
}